#logo a {
	background:transparent;
}

#logo a img {
	width: 25px;
}

#top-panel .panel-menu i{
	background:transparent;
}

#top-panel .panel-menu span.badge{
	margin-top:14px;
}

form .select2-arrow {
	width:25px !important;
}

form .select2-arrow b{
	background:transparent !important;
}
div.lead.card p i{
	width:2em;
	text-align:center;

}
div.lead.card p span{
	font-size:.7em !important;
}


.locking label{
	cursor:pointer !important;
}

.locking label i.fa-lock{
	color:#d15e5e !important;
}
.locking label i.fa-unlock{
	color:#63cc9e !important;
}

.dashboard-header .btn-app span{
	color: #428bca !important;
}

.dashboard-header .dashboard-row,
.dashboard-header .btn-app{
	margin-bottom:28px !important;
}


li.song{
	cursor:pointer;
	width:100%;
	white-space: nowrap;
  	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration:none;
	color:#428bca;
}
li.song:hover{
	text-decoration: underline;
}

span.stream-url{
	display:none;
}


.songs-report th.width65,
.songs-report td.width65{
	width:65px !important;
}

.songs-report th.width150,
.songs-report td.width150{
	width:150px !important;
}
.songs-report th.width300,
.songs-report td.width300{
	width:300px !important;
}

.songs-report th.cover,
.songs-report td.cover{
	width:43px !important;
}

.songs-report td.cover img{
	margin-right: 0px !important;
}

.songs-report span.cell{
	width:100%;
	/*white-space: nowrap;*/
  	overflow: hidden;
	text-overflow: ellipsis;
}

.songs-report .jp-flat-audio{
	min-width:100px;
}

.piechart-content{
	height:180px;
}

.piechart{
	position: absolute;
	left: -50px;
}

.piechart-legend{
	position:absolute;
	top:20px;
	left:180px;
	font-size: 0.8em;
}

.piechart-legend-ul,
.piechart-legend-ul li{
	list-style-type: none;
}

.piechart-legend-ul i{
	color:#fff;
	padding:3px;
	margin-bottom: 2px;
	border-radius: 8px;
}